* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.box {
  width: 200px;
  height: 166px;
  border: 2px solid #171306;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 100px;
}
